.homeCont {
  background-color: $color3;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  gap: 30px;
}

.homeHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 90vw;
  height: 60px;
  background-color: $color2;
  border-radius: 15px;
  border: 5px $color1 solid;
}

.boardDisplay {
  display: flex;
  overflow: auto;
  background-color: $color4;
  border-radius: 15px;
  flex-grow: 2;
  width: 90vw;
  border: 5px $color5 solid;
  padding: 20px;
  gap: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.3);
}