.user-login-box {
  border: thin solid rgb(183, 181, 181);
  display: flex;
};

.login-header {
  color: rgba(229, 207, 207, 0.527);
}

// username and password text on login page
.login-text {
  font-size: 20px;

}

.user-input {
  width: 50px;
  height: 25px;
  border-radius: 5px;
}